body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}
h1{
    color: #333;
}
.game{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}
.cell{
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #444;
    cursor: pointer;
}
.cell:hover{
    background-color: #e6f7ff;
}
.info{
    margin: 20px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0099cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #0077aa;
}